@import url(https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto+Condensed|Roboto:900,400);

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: #777;
    background-color: #fff;
    margin: 0;
    padding: 0;
    line-height: 1.25em;
}

header {
    background: #314567 url(images/banner.jpg) no-repeat left top;
    padding: 1px;
    margin: 0 0 20px 0;
    height: 120px;
    position: relative;
}

header h1 {
    position: absolute;
    top: 35px;
    left: 90px;
    font-family: 'Abril Fatface', cursive;
    font-size: 2.6em;
    color: #fff;
    margin: 0;
    padding: 0;
}

header p {
    line-height: 20px;
    font-size: 1.2em;
    margin: 0;
    padding: 0 30px 15px 30px;
    color: rgba(255, 255, 255, .6);
}

article {
    padding: 0 30px 0 90px;
}

article::after {
    content: '';
    display: block;
    clear: both;
}

a img {
    border: none;
}

h2 {
    border-bottom: 1px solid #ddd;
    clear: both;
    color: #929536;
    font-size: 2em;
    font-weight: 300;
    margin: 100px -30px 50px 0;
    padding: 0 0 5px 0;
}

h2:first-of-type {
    margin-top: 35px;
}

h3 {
    clear: both;
    color: rgb(89, 124, 177);
    font-size: 1.3em;
    line-height: 1em;
    margin: 50px 0 5px 0;
    counter-increment: myCourses;
    position: relative;
}

h3::before {
    content: counter(myCourses) '. ';
    width: 80px;
    position: absolute;
    top: 25px;
    left: -90px;
    font-size: 4.5em;
    text-align: right;
    color: rgba(89, 123, 177, .2);
}

figure {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    color: #888;
    font-size: .9em;
    float: right;
    line-height: 1.15em;
    margin: 12px 0 25px 40px;
    counter-increment: myThumbnails;
}

figure img {
    height: 100px;
    width: 175px;
}

figure figcaption {
    display: block;
    margin: 8px 0;
    width: 165px;
}

figure figcaption::before {
    content: 'Course ' counter(myThumbnails);
    font-style: italic;
    display: block;

}